<!-- INCLUDE du document HTML -->
<% include index %>


<header class="ui fixed inverted main menu">

    	<a href="/accueil" class="header item">Otamatone.fr</a>

    	<a href="/apprendre" class="item">Apprendre l'Otamatone</a>

    	<a href="/news" class="item">News</a>

    	<!-- <a href="/shop" class="item">Espace boutique</a>
    	
    	<a href="/videos" class="item">Vidéos</a>
    	
    	<a href="/contact" class="item">Contact</a> -->

</header>

