<!-- INCLUDE de la partie HEADER -->
<% include ../header %>


<section class="ui container">
	
	<div class="ui horizontal divider"><h1>Nos cours sur l'Otamatone</h1></div>
	
	<div id="coursePart" class="ui items">

		<!-- First course -->
		<div class="item">
			
			<div class="image">
				<img src="https://via.placeholder.com/250x200" alt="Une image">
			</div>

			<div class="content">

				<h3 class="header">Les bases de l'otamatone</h3>
				
				<p class="meta">Cours débutant</p>

				<div class="description">
					
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed beatae reiciendis dolor fugiat magni, nemo ab iste, nulla commodi, tempore quia natus expedita voluptatibus ullam explicabo. Fugiat perspiciatis asperiores libero. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, eaque praesentium ratione dignissimos qui maiores accusamus aliquid accusantium voluptatum quo culpa doloribus dolorem, magni eveniet sit. Ullam esse fuga aliquam!
					</p>

				</div>

			</div>

		</div>
		<!-- ! First course ! -->

		<div class="ui divider"></div>
	
		<!-- Second course -->
		<div class="item">
			
			<div class="image">
				<img src="https://via.placeholder.com/250x200" alt="Une image">
			</div>

			<div class="content">

				<h3 class="header">Allez plus loin avec l'otamatone</h3>
				
				<p class="meta">Cours intermédiaire</p>

				<div class="description">
					
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed beatae reiciendis dolor fugiat magni, nemo ab iste, nulla commodi, tempore quia natus expedita voluptatibus ullam explicabo. Fugiat perspiciatis asperiores libero. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem laboriosam, soluta adipisci incidunt consequatur quos ea aut facere at possimus beatae dolorem doloribus minus? Accusantium dolorum quo sunt cupiditate beatae.
					</p>

				</div>

			</div>

		</div>
		<!-- ! Second course ! -->

		<div class="ui divider"></div>
		
		<!-- Third course -->
		<div class="item">
			
			<div class="image">
				<img src="https://via.placeholder.com/250x200" alt="Une image">
			</div>

			<div class="content">

				<h3 class="header">Notions avancées de l'otamatone</h3>
				
				<p class="meta">Cours expert</p>

				<div class="description">
					
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed beatae reiciendis dolor fugiat magni, nemo ab iste, nulla commodi, tempore quia natus expedita voluptatibus ullam explicabo. Fugiat perspiciatis asperiores libero. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, nostrum sunt eos! Vero officia excepturi voluptates animi hic, minima error qui placeat, facilis mollitia obcaecati nisi consectetur tempore, eum ea?
					</p>

				</div>

			</div>

		</div>
		<!-- ! Third course ! -->

		<!-- <div class="ui divider"></div> -->

	</div>	

</section>


<!-- INCLUDE de la partie footer -->
<% include ../footer %>