<!-- INCLUDE de la partie HEADER -->
<% include ../header %>


<section class="ui container">
	
	<div class="ui horizontal divider"><h2>Nos cours Otamatone</h2></div>
	
	<div id="coursePart" class="ui items">

		<!-- First course -->
		<% courses.forEach(function(course) { %>
		<div class="item">
			
			<div class="image">
				<img src="https://gloimg.drlcdn.com/L/pdm-product-pic/Electronic/2018/09/14/goods-img-app/1542697818990335393.jpg" alt="Une image">
			</div>

			<div class="content">

				<h3 class="header"><%= course.nameCourse %></h3>
				
				<p class="meta"><%= course.categories %></p>

				<div class="description">
					
					<p>
						<%= course.description %>
					</p>

				</div>

			</div>

		</div>

		<div class="ui divider"></div>

		<% }) %>
	
	</div>	

</section>

<!-- INCLUDE de la partie footer -->
<% include ../footer %>