<div class="firstNews" id="">
    <div class="firstNewsTitle" id="">
        <p>Titre putaclic</p>
    </div>
    <div class="firstNewsContainer">
        <div class="firstNewsContent" id="">
        <article>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum laboriosam incidunt eaque esse.
            Quo, temporibus non id sunt dolor quam. Dolores commodi esse eius voluptates architecto. Facere eaque ipsum
            consequuntur! <br>
            <button class="ui mini primary right labeled icon button"><i class="right arrow icon"></i> Lire plus </button>
        </article>
        
        </div>
        <div class="firstNewsExtras">
        <span class="right floated">Date de l'article</span>
        <div class="firstNewsTags">
            <p class="meta"><button class="ui mini right labeled icon button"><i class="tag icon"></i> WTF </button></p>
        </div>

        </div>
    </div>
</div>