
<!-- INCLUDE de la partie HEADER -->
<% include ../header %>

<section class="ui container" id="newsList">
    <div class="ui horizontal divider"><h1>News</h1></div>
     <!-- INCLUDE des Top News -->
     <% include topNews %>

     <!-- INCLUDE des regular News -->
     <% include regularNews %>
</section>
  


<!-- INCLUDE partie FOOTER -->
<% include ../footer %>