<!-- INCLUDE du document HTML -->
<% include ../index %>

<!-- INCLUDE de la partie HEADER -->
<% include ../header %>

<section class="ui container" id="newsList">
    <div class="ui horizontal divider"><h1>News</h1></div>
  <div class="" id="topNews">
    <div class="firstNews" id="">
      <div class="firstNewsTitle" id="">
        <p>Titre putaclic</p>
      </div>
      <div class="firstNewsContainer">
        <div class="firstNewsContent" id="">
          <article>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum laboriosam incidunt eaque esse.
            Quo, temporibus non id sunt dolor quam. Dolores commodi esse eius voluptates architecto. Facere eaque ipsum
            consequuntur! <br>
            <button class="ui mini primary right labeled icon button"><i class="right arrow icon"></i> Lire plus </button>
          </article>
          
        </div>
        <div class="firstNewsExtras">
          <span class="right floated">Date de l'article</span>
          <div class="firstNewsTags">
            <p class="meta"><button class="ui mini right labeled icon button"><i class="tag icon"></i> WTF </button></p>
          </div>

        </div>
      </div>
    </div>
    <div class="nextNews" id="">
      <div class="nextNews1">
        <div class="nextNews1Title" id="">
          <p>Titre putaclic</p>
        </div>
        <div class="nextNews1Container">
          <div class="nextNews1Content" id="">
            <article>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum laboriosam incidunt eaque
              esse. <br>
              <button class="ui mini primary right labeled icon button"><i class="right arrow icon"></i> Lire plus </button>
            </article>
          </div>
        </div>
      </div>
      <div class="nextNews2">
          <div class="nextNews2Title" id="">
            <p>Titre putaclic</p>
          </div>
          <div class="nextNews2Container">
            <div class="nextNews2Content" id="">
              <article>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum laboriosam incidunt eaque
                esse. <br>
                <button class="ui mini primary right labeled icon button"><i class="right arrow icon"></i> Lire plus </button>
  
              </article>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div id="" class="ui items">

    <!-- First course -->
    <div class="item">

        <div class="image">
          <img src="https://via.placeholder.com/250x200" alt="Une image">
        </div>
  
        <div class="content">
  
          <h3 class="header">Titre putaclic</h3>
  
          <p class="meta"><button class="ui mini right labeled icon button"><i class="tag icon"></i> WTF </button></p>
  
          <div class="description">
  
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed beatae reiciendis dolor fugiat magni, nemo ab
              iste, nulla commodi, tempore quia natus expedita voluptatibus ullam explicabo. Fugiat perspiciatis
              asperiores libero. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, nostrum sunt eos! Vero
              officia excepturi voluptates animi hic, minima error qui placeat, facilis mollitia obcaecati nisi
              consectetur tempore, eum ea?
            </p>
  
          </div>
          <button class="ui mini primary right labeled icon button"><i class="right arrow icon"></i> Lire plus </button>
        </div>
  
      </div>
    <!-- ! First course ! -->

    <div class="ui divider"></div>

    <!-- Second course -->
    <div class="item">

        <div class="image">
          <img src="https://via.placeholder.com/250x200" alt="Une image">
        </div>
  
        <div class="content">
  
          <h3 class="header">Titre putaclic</h3>
  
          <p class="meta"><button class="ui mini right labeled icon button"><i class="tag icon"></i> WTF </button></p>
  
          <div class="description">
  
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed beatae reiciendis dolor fugiat magni, nemo ab
              iste, nulla commodi, tempore quia natus expedita voluptatibus ullam explicabo. Fugiat perspiciatis
              asperiores libero. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, nostrum sunt eos! Vero
              officia excepturi voluptates animi hic, minima error qui placeat, facilis mollitia obcaecati nisi
              consectetur tempore, eum ea?
            </p>
  
          </div>
          <button class="ui mini primary right labeled icon button"><i class="right arrow icon"></i> Lire plus </button>
        </div>
  
      </div>
    <!-- ! Second course ! -->

    <div class="ui divider"></div>

    <!-- Third course -->
    <div class="item">

      <div class="image">
        <img src="https://via.placeholder.com/250x200" alt="Une image">
      </div>

      <div class="content">

        <h3 class="header">Titre putaclic</h3>

        <p class="meta"><button class="ui mini right labeled icon button"><i class="tag icon"></i> WTF </button></p>

        <div class="description">

          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed beatae reiciendis dolor fugiat magni, nemo ab
            iste, nulla commodi, tempore quia natus expedita voluptatibus ullam explicabo. Fugiat perspiciatis
            asperiores libero. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, nostrum sunt eos! Vero
            officia excepturi voluptates animi hic, minima error qui placeat, facilis mollitia obcaecati nisi
            consectetur tempore, eum ea?
          </p>

        </div>
        <button class="ui mini primary right labeled icon button"><i class="right arrow icon"></i> Lire plus </button>
      </div>

    </div>
    <!-- ! Third course ! -->

    <!-- <div class="ui divider"></div> -->

  </div>
</section>


<!-- INCLUDE partie FOOTER -->
<% include ../footer %>