<!-- INCLUDE du document HTML -->
<% include ../index %>

<!-- INCLUDE de la partie HEADER -->
<% include ../header %>
<section class="ui container">
<div class="ui horizontal divider"><h2>News</h2></div>
    <div class="ui link cards card-news">
        <div class="card">
        <div class="image">
            <img src="https://gloimg.gbtcdn.com/soa/gb/pdm-product-pic/Electronic/2018/09/14/goods_img_big-v1/20180914150034_12736.jpg">
        </div>
        <div class="content">
            <div class="header">News 1</div>
            <div class="meta">
            <span class="date">Date de la news 1</span>
            </div>
            <div class="description">Ceci est une description de news</div>
            <button id="Test3" class="mini ui primary button moreButton right labeled icon">En savoir plus <i class="right arrow icon"></i></button>
        </div>
        <div class="extra content">
            <span><i class="user icon"></i> Auteur de l'article </span>
        </div>
        </div>
        <div class="card">
            <div class="image">
            <img src="https://gloimg.gbtcdn.com/soa/gb/pdm-product-pic/Electronic/2018/09/14/goods_img_big-v1/20180914150034_12736.jpg">
            </div>
            <div class="content">
            <div class="header">News 2</div>
            <div class="meta">
                <span class="date">Date de la news 2</span>
            </div>
            <div class="description">Ceci est une description de news</div>
            <button id="Test2" class="mini ui primary button moreButton right labeled icon">En savoir plus <i class="right arrow icon"></i></button>

            </div>
            <div class="extra content">
            <span><i class="user icon"></i> Auteur de l'article </span>
            </div>
        </div>
        <div class="card">
            <div class="image">
            <img src="https://gloimg.gbtcdn.com/soa/gb/pdm-product-pic/Electronic/2018/09/14/goods_img_big-v1/20180914150034_12736.jpg">
            </div>
            <div class="content">
            <div class="header">News 3</div>
            <div class="meta">
                <span class="date">Date de la news 3</span>
            </div>
            <div class="description">Ceci est une description de news</div>
            <button id="Test1" class="mini ui primary button moreButton right labeled icon">En savoir plus <i class="right arrow icon"></i></button>

            </div>
            <div class="extra content">
            <span><i class="user icon"></i> Auteur de l'article </span>
            </div>
        </div>
    </div>
</section>


<!-- INCLUDE de la partie FOOTER -->
<% include ../footer %>