<div class="nextNews" id="">
        <div class="nextNews1">
          <div class="nextNews1Title" id="">
            <p>Titre putaclic</p>
          </div>
          <div class="nextNews1Container">
            <div class="nextNews1Content" id="">
              <article>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum laboriosam incidunt eaque
                esse. <br>
                <button class="ui mini primary right labeled icon button"><i class="right arrow icon"></i> Lire plus </button>
              </article>
            </div>
          </div>
        </div>
        <div class="nextNews2">
            <div class="nextNews2Title" id="">
              <p>Titre putaclic</p>
            </div>
            <div class="nextNews2Container">
              <div class="nextNews2Content" id="">
                <article>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum laboriosam incidunt eaque
                  esse. <br>
                  <button class="ui mini primary right labeled icon button"><i class="right arrow icon"></i> Lire plus </button>
    
                </article>
              </div>
            </div>
          </div>
      </div>