<div class="nextNews six wide column" id="">
        <div class="nextNews1 ui segment ">
          <div class="nextNews1Title" id="">
            <p>Titre putaclic</p>
          </div>
          <div class="nextNews1Container">
            <div class="nextNews1Content" id="">
              <article>
                  <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum laboriosam incidunt eaque
                      esse. </p><br>
                <button class="ui mini primary right labeled icon button"><i class="right arrow icon"></i> Lire plus </button>
              </article>
            </div>
              <div class="nextNewsExtras">
                  <span class="right floated">Date de l'article</span>
                  <div class="nextNewsTags">
                      <p class="meta"><button class="ui mini right labeled icon button"><i class="tag icon"></i> WTF </button></p>
                  </div>

              </div>
          </div>
        </div>
        <div class="nextNews2 ui segment ">
            <div class="nextNews2Title" id="">
              <p>Titre putaclic</p>
            </div>
            <div class="nextNews2Container">
              <div class="nextNews2Content" id="">
                <article><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum laboriosam incidunt eaque
                        esse. </p><br>
                  <button class="ui mini primary right labeled icon button"><i class="right arrow icon"></i> Lire plus </button>
    
                </article>
              </div>
                <div class="nextNewsExtras">
                    <span class="right floated">Date de l'article</span>
                    <div class="nextNewsTags">
                        <p class="meta"><button class="ui mini right labeled icon button"><i class="tag icon"></i> WTF </button></p>
                    </div>

                </div>
            </div>
          </div>
      </div>