<div class="item classicNews">
        <div class="image">
          <img src="https://via.placeholder.com/250x200" alt="Une image">
        </div>
  
        <div class="content">
  
          <h3 class="header">Titre putaclic</h3>
  
          <p class="meta"><button class="ui mini right labeled icon button"><i class="tag icon"></i> WTF </button></p>
  
          <div class="description">
  
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed beatae reiciendis dolor fugiat magni, nemo ab
              iste, nulla commodi, tempore quia natus expedita voluptatibus ullam explicabo. Fugiat perspiciatis
              asperiores libero. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, nostrum sunt eos! Vero
              officia excepturi voluptates animi hic, minima error qui placeat, facilis mollitia obcaecati nisi
              consectetur tempore, eum ea?
            </p>
  
          </div>
          <button class="ui mini primary right labeled icon button"><i class="right arrow icon"></i> Lire plus </button>
        </div>
      </div>
      <div class="ui divider"></div>