<div class="" id="topNews">
        <!-- INCLUDE de la Top News -->
        <% include firstNews %>

         <!-- INCLUDE de la sidebar News -->
         <% include sidebarNews %>
        
      </div>