<div class="ui stackable inverted divided grid" id="topNews">
        <!-- INCLUDE de la Top News -->
        <% include firstNews %>

         <!-- INCLUDE de la sidebar News -->
         <% include sidebarNews %>
        
      </div>