<!-- INCLUDE header -->
<% include ../header %>

<section class="ui container">
	
	<div class="ui horizontal divider"><h2><%= videos.titleVideo %></h2></div>

	<div class="ui segments">
		
		<div class="ui segment">

			<p>
				<div class="iframeContainer"><iframe src="<%= videos.video %>" frameborder="0"></iframe></div>
			</p>

			<div class="ui secondary segment">
				
				<p>
					<span>Description: </span><%= videos.description %>
				</p>

				<p>
					<span>Catégorie: </span> <%= videos.categories %>
				</p>
			</div>

		</div>

	</div>

</section>

<!-- INCLUDE footer -->
<% include ../footer %>