<!-- INCLUDE du document HTML -->
<% include ../index %>

<!-- INCLUDE de la partie HEADER -->
<% include ../header %>


<section class="ui container">
	
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus harum, est fuga veritatis esse dignissimos optio sunt obcaecati sit quos. Maiores tempora harum, fugit voluptates nihil vel accusantium doloribus perspiciatis.
	</p>

</section>


<!-- INCLUDE de la partie FOOTER -->
<% include ../footer %>