<!-- INCLUDE du document HTML -->
<% include ../index %>

<!-- INCLUDE de la partie HEADER -->
<% include ../header %>

<!-- Liste les vidéos du site "random pour le moment" -->
<section id="sousLesProjecteurs" class="ui container">

	<div class="ui horizontal divider"><h2>Sous les projecteurs !</h2></div>
	
	<div class="ui three column doubling stackable grid">
		
		<div class="column">
			
			<div class="ui segment">

				<h3 class="ui center aligned header">Vidéo n°1</h3>
				
				<div class="ui placeholder"><div class="image"></div></div>

			</div>

		</div>
		<div class="column">
			
			<div class="ui segment">
				
				<h3 class="ui center aligned header">Vidéo n°2</h3>
				
				<div class="ui placeholder"><div class="image"></div></div>

			</div>

		</div>

		<div class="column">
			
			<div class="ui segment">
				
				<h3 class="ui center aligned header">Vidéo n°3</h3>
				
				<div class="ui placeholder"><div class="image"></div></div>

			</div>

		</div>

	</div>

	<div class="ui divider"></div>

</section>
<!-- ! Liste les vidéos du site "random pour le moment" ! -->

<!-- Liste des trois derniers cours -->
<section id="derniersCours" class="ui container">
	
	<div class="ui horizontal divider"><h2>Nos derniers cours</h2></div>

	<div class="ui three column doubling stackable grid">
		
		<div class="column">
			
			<div class="ui segment">
				
				<h3 class="ui center aligned header">Cours n°1</h3>

			</div>

		</div>
		<div class="column">
			
			<div class="ui segment">
				
				<h3 class="ui center aligned header">Cours n°2</h3>

			</div>

		</div>

		<div class="column">
			
			<div class="ui segment">
				
				<h3 class="ui center aligned header">Cours n°3</h3>

			</div>

		</div>

	</div>

	<div class="ui divider"></div>

</section>
<!-- ! Liste des trois derniers cours ! -->

<!-- Liste des posts -->
<section id="postsRecent" class="ui container">
	
	<div class="ui horizontal divider"><h2>Les posts les plus récents</h2></div>

	<div class="ui three column doubling stackable grid">
		
		<div class="column">
			
			<div class="ui segment">
				
				Post n°1

			</div>

		</div>
		<div class="column">
			
			<div class="ui segment">
				
				Post n°2

			</div>

		</div>

		<div class="column">
			
			<div class="ui segment">
				
				Post n°3

			</div>

		</div>

	</div>

	<div class="ui divider"></div>

</section>
<!-- ! Liste des posts ! -->

<!-- Liste des articles recommandé -->
<section class="ui container">
	
	<div class="ui horizontal divider"><h2>Nos articles populaires</h2></div>

	<div class="ui three column doubling stackable grid">
		
		<div class="column">
			
			<div class="ui segment">
				
				Article n°1

			</div>

		</div>
		<div class="column">
			
			<div class="ui segment">
				
				Article n°2

			</div>

		</div>

		<div class="column">
			
			<div class="ui segment">
				
				Article n°3

			</div>

		</div>

	</div>

	<div class="ui divider"></div>

</section>
<!-- ! Liste des articles recommandé ! -->

<!-- INCLUDE de la partie FOOTER -->
<% include ../footer %>