<!-- INCLUDE de la partie HEADER -->
<% include ../header %>

<!-- Liste les vidéos du site "random pour le moment" -->
<section id="sousLesProjecteurs" class="ui container">

	<div class="ui horizontal divider"><h2>Sous les projecteurs !</h2></div>
	
	<div class="ui three column doubling stackable grid">
		
		<!-- First column -->
		<% resultats.forEach(function(video) { %>

		<div class="column">
			
			<div class="ui segment">

				<h3 class="ui center aligned header"><%= video.titleVideo %></h3>
				
				<div><iframe src="<%= video.video %>" frameborder="0"></iframe></div>

			</div>

		</div>

		<% }) %>
		<!-- ! First column ! -->
	</div>

	<div class="ui divider"></div>

</section>
<!-- ! Liste les vidéos du site "random pour le moment" ! -->

<!-- Liste des trois derniers cours -->
<section id="derniersCours" class="ui container">
	
	<div class="ui horizontal divider"><h2>Nos derniers cours</h2></div>

	<div class="ui three column doubling stackable grid">
		
		<!-- First column -->
		<div class="column">
			
			<div class="ui center aligned segment">
				
				<h3 class="ui center aligned header">Cours n°1</h3>


					<img src="https://via.placeholder.com/250x200" alt="Une image" class="ui centered medium image">
					
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam voluptatum non dolor reprehenderit aliquid officiis, veritatis magnam iste sunt culpa provident suscipit ea. Deleniti animi, facilis, temporibus odio commodi iste!
					</p>

					<a href="/apprendre" ><button class="ui fluid black button">Découvrir nos cours</button></a>

			</div>

		</div>
		<!-- ! First column ! -->
		
		<!-- Second column -->
		<div class="column">
			
			<div class="ui center aligned segment">
				
				<h3 class="ui center aligned header">Cours n°2</h3>
		
				<img src="https://via.placeholder.com/250x200" alt="Une image" class="ui centered medium image">
					
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam voluptatum non dolor reprehenderit aliquid officiis, veritatis magnam iste sunt culpa provident suscipit ea. Deleniti animi, facilis, temporibus odio commodi iste!
				</p>
		
				<a href="/apprendre" ><button class="ui fluid black button">Découvrir nos cours</button></a>
		
			</div>
		
		</div>
		<!-- ! Second column ! -->
		
		<!-- Third column -->
		<div class="column">
			
			<div class="ui center aligned segment">
				
				<h3 class="ui center aligned header">Cours n°3</h3>
		
				<img src="https://via.placeholder.com/250x200" alt="Une image" class="ui centered medium image">
					
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam voluptatum non dolor reprehenderit aliquid officiis, veritatis magnam iste sunt culpa provident suscipit ea. Deleniti animi, facilis, temporibus odio commodi iste!
				</p>
		
				<a href="/apprendre" ><button class="ui fluid black button">Découvrir nos cours</button></a>
		
			</div>
		
		</div>
		<!-- ! Third column ! -->

	</div>

	<div class="ui divider"></div>

</section>
<!-- ! Liste des trois derniers cours ! -->

<!-- Liste des posts -->
<section id="postsRecent" class="ui container">
	
	<div class="ui horizontal divider"><h2>Les posts les plus récents</h2></div>

	<div class="ui three column doubling stackable grid">
		
		<!-- First column -->
		<div class="column">
			
			<div class="ui segment">

				<h3 class="ui center aligned header">Post n°1</h3>
				
				<div class="ui medium feed">
					
					<div class="event">
						
						<div class="label">
							<img src="https://via.placeholder.com/100x100" alt="Un avatar">
						</div>

						<div class="content">
							
							<p class="date">Il y a 1 semaine</p>

							<p class="summary"><a>randomUser</a> a posté</p>

							<p class="extra text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio quaerat, error, consequatur cum voluptatem eum.
							</p>

							<div class="meta">
								
								<a class="like"><i class="like icon"></i> 4 Likes</a>

							</div>

						</div>

					</div>

				</div>

			</div>

		</div>
		<!-- ! First column ! -->

		<!-- Second column -->
		<div class="column">
			
			<div class="ui segment">
				
				<h3 class="ui center aligned header">Post n°2</h3>

				<div class="ui medium feed">
					
					<div class="event">
						
						<div class="label">
							<img src="https://via.placeholder.com/100x100" alt="Un avatar">
						</div>

						<div class="content">
							
							<p class="date">Il y a 5 mois</p>

							<p class="summary"><a>Etherium</a> a posté</p>

							<p class="extra text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio quaerat, error, consequatur cum voluptatem eum.
							</p>

							<div class="meta">
								
								<a class="like"><i class="like icon"></i> 800 M Likes</a>

							</div>

						</div>

					</div>

				</div>

			</div>

		</div>
		<!-- ! Second column ! -->
		
		<!-- Third column -->
		<div class="column">
			
			<div class="ui segment">

				<h3 class="ui center aligned header">Post n°3</h3>
				
				<div class="ui medium feed">
					
					<div class="event">
						
						<div class="label">
							<img src="https://via.placeholder.com/100x100" alt="Un avatar">
						</div>

						<div class="content">
							
							<div class="date">Il y a 1 an</div>

							<p class="summary"><a>randomUser512</a> a posté</p>

							<p class="extra text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio quaerat, error, consequatur cum voluptatem eum.
							</p>

							<div class="meta">
								
								<a class="like"><i class="like icon"></i> 15K likes</a>

							</div>

						</div>

					</div>

				</div>

			</div>

		</div>
		<!-- ! Third column ! -->

	</div>

	<div class="ui divider"></div>

</section>
<!-- ! Liste des posts ! -->

<!-- Liste des articles recommandé -->
<section id="articlesPart" class="ui container">
	
	<div class="ui horizontal divider"><h2>Nos articles populaires</h2></div>

	<div class="ui three column doubling stackable grid">
		
		<!-- First column -->
		<div class="column">
			
			<div class="ui segment">
				
				<h3 class="ui center aligned header">Article n°1</h3>

				<div class="ui items">
					
					<div class="item">
						
						<div class="image">
							<img src="/assets/images/otamatone-ninja.jpg" alt="Un otamatone">
						</div>

						<div class="content">
							
							<a href="/news" class="header">Otamatone Ninja</a>

							<div class="meta">
								<span>Un otamatone qui se veut discret et meurtrier</span>
							</div>

							<div class="extra">
									
								<a id="ninjaButton" href="/news" class="ui fluid animated fade blue button" tabindex="0">
								  <div class="visible content">En savoir plus</div>
								  <div class="hidden content">
								    <i class="right arrow icon"></i>
								  </div>
								</a>

							</div>

						</div>

					</div>

				</div>

			</div>

		</div>
		<!-- ! First column ! -->

		<!-- Second column -->
		<div class="column">
			
			<div class="ui segment">
				
				<h3 class="ui center aligned header">Article n°2</h3>

				<div class="ui items">
					
					<div class="item">
						
						<div class="image">
							<img src="/assets/images/otamatone-kumamon.jpg" alt="Un otamatone kumamon">
						</div>

						<div class="content">
							
							<a href="/news" class="header">Otamatone Kumamon</a>

							<div class="meta">
								<span>Un otamatone déguisé en kumamon</span>
							</div>

							<div class="extra">
								
								<a id="kumamonButton" href="/news" class="ui fluid animated fade blue button" tabindex="0">
								  <div class="visible content">En savoir plus</div>
								  <div class="hidden content">
								    <i class="right arrow icon"></i>
								  </div>
								</a>

							</div>

						</div>

					</div>

				</div>

			</div>

		</div>
		<!-- ! Second column ! -->
		
		<!-- Third column -->
		<div class="column">
			
			<div class="ui segment">
				
				<h3 class="ui center aligned header">Article n°3</h3>

				<div class="ui items">
					
					<div class="item">
						
						<div class="image">
							<img src="/assets/images/otamatone-kabuki.jpg" alt="Un otamatone kabuki">
						</div>

						<div class="content">
							
							<a href="/news" class="header">Otamatone Kabuki</a>

							<div class="meta">
								<span>Un otamatone sous les couleurs du théâtre japonais</span>
							</div>

							<div class="extra">
								
								<a href="/news" class="ui fluid animated fade blue button" tabindex="0">
								  <div class="visible content">En savoir plus</div>
								  <div class="hidden content">
								    <i class="right arrow icon"></i>
								  </div>
								</a>

							</div>

						</div>

					</div>

				</div>

			</div>

		</div>
		<!-- ! Third column ! -->

	</div>

</section>
<!-- ! Liste des articles recommandé ! -->

<!-- INCLUDE de la partie FOOTER -->
<% include ../footer %>