.ui.container {
	
	margin-top: 100px;

}
/* Partie sous les projecteurs */

.ui.horizontal.divider {

	margin-bottom: 20px;

}

.ui.divider {

	margin-top: 40px;

}
/* ! Partie sous les projecteurs ! */


/* Partie cours */
.ui.centered.medium.image {

	margin-bottom: 20px;

}
/* ! Partie cours ! */

/* articles part */
#articlesPart {

	margin-bottom: 40px;

}
/* ! articles part ! */

/* Footer part */
#footerPart {

	margin-top: 50px;

}

#separator2 {

	margin-bottom: 10px;

}
/* ! Footer part ! */