.ui.container {
	
	margin-top: 100px;

}

/* Partie news */

.card-news{
	margin-top: 30px !important;
}

.moreButton{
	margin-top: 5px !important;
}

/* !! Partie news !! */



/* Partie sous les projecteurs */

.ui.horizontal.divider {

	margin-bottom: 20px;

}

.ui.divider {

	margin-top: 40px;

}
/* ! Partie sous les projecteurs ! */


/* Partie cours */
.ui.centered.medium.image {

	margin-bottom: 20px;

}
/* ! Partie cours ! */

/* articles part */
#articlesPart {

	margin-bottom: 40px;

}
/* ! articles part ! */

/* Footer part */
#footerPart {

	margin-top: 50px;

}

#separator2 {

	margin-bottom: 10px;

}
/* ! Footer part ! */

/* News page */
#groupCards {

	margin-bottom: 50px;

}

/* ! News page ! */

/* Articles part */
#kumamonButton {

	margin-top: 22px;

}

#ninjaButton {

	margin-top: 9px;

}
/* ! Articles part ! */