.ui.container {
	
	margin-top: 100px;

}

/* Partie news */

.card-news{
	margin-top: 30px !important;
}

.moreButton{
	margin-top: 5px !important;
}
#topNews button, .classicNews button{
    margin-top: 10px !important;
}
.firstNewsTitle, .nextNews1Title, .nextNews2Title{
	background-image: url("https://zenmarketcdn.azureedge.net/blog/pczl4gd3.ja4");
	box-shadow:inset 0 0 0 2000px rgba(0,0,0,0.3);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	text-align: center;
	display: flex;
	align-items: center;
	height: 200px;
	color: white;
	justify-content: center;
	font-size: 20px;
}


.firstNewsTitle p, .nextNews1Title p, .nextNews2Title p{
	/*margin-bottom: 40px;*/
}

.firstNewsContent article p, .nextNews1Content article p, .nextNews2Content article p{
	padding-top: 10px;
}

.firstNewsExtras, .nextNewsExtras{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

/* !! Partie news !! */


/* Partie sous les projecteurs */

.ui.horizontal.divider {

	margin-bottom: 20px;

}

.ui.divider {

	margin-top: 40px;

}
/* ! Partie sous les projecteurs ! */


/* Partie cours */
.ui.centered.medium.image {

	margin-bottom: 20px;

}
/* ! Partie cours ! */


/* articles part */
#articlesPart {

	margin-bottom: 40px;

}
/* ! articles part ! */


/* News page */
#groupCards {

	margin-bottom: 50px;

}

/* ! News page ! */


/* Articles part */
#kumamonButton {

	margin-top: 22px;

}

#ninjaButton {

	margin-top: 9px;

}
/* ! Articles part ! */

/* Course part */
#coursePart {

	margin-top: 50px;
	margin-bottom: 50px !important;

}
/* ! Course part ! */

/* Footer part */
#footerPart {

	margin-top: 50px;

}

#separator2 {

	margin-bottom: 10px;

}
/* ! Footer part ! */

/* Media Queries */

@media screen and (min-width: 768px){

    .firstNewsTitle, .nextNews1Title, .nextNews2Title {
        height: 300px;
    }
    .nextNews1Title, .nextNews2Title{
        height: 100px !important;
    }
}